.page {
  height: 100%;

  scroll-behavior: smooth;
}

.page-body {
  height: 100%;

  font-family: tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;

  color: $text-color;
  background: $background-color;

  &.modal {
    overflow: hidden;
  }
}

#__nuxt,
.page-layout {
  display: flex;
  flex-flow: column;
  height: 100%;
}

h1, p {
  margin: 0;
}

.buttons {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.display-gap {
  gap: 36px;

  .display-mobile & {
    gap: 18px;
  }
}
